<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lay 'em out with the Layout</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="header box">
      <h1>Retrain Yourself</h1>
    </div>
    
    <div class="sidebar box">
      <h1>Blog Posts</h1>
      <p><a href="#">Most Recent Post</a></p>
    </div>
    
    <div class="main box">
      <img src="https://i.giphy.com/media/b7f0X8Okk1uyk/giphy.webp" />
    </div>
    <div class="footer box">Footer</div>
  </div>
</body>
</html>