.container {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  align-items: stretch;
  justify-content: space-evenly;
}
.item {
  background-color: #FF9A72;
  border-right: 1px solid black;
  padding: 10px;
}
#dixon {
  order: 2;
}
#boots {
  order: 3;
}
#lexy {
  order: 1;
}