body {
  background-color: #093258;
  color: #fff;
  font-size: 32px;
}

.container {
  background-color: #fff;
  color: #000; 
  display: grid;
  width: 80vw;
  height: 100vh;
  margin: auto;
  grid-gap: 15px;
  border: 3px solid rgb(247, 182, 96);
  justify-content: center;
  /*Use repeat to avoid repetitive css*/
  /*grid-template-columns: repeat(6, 1fr);*/

  grid-template-columns: repeat(3, 1fr);

  /*When number of rows is unknown use grid auto rows*/
  /*Use auto for max if you want to to fill all available space*/
  grid-auto-rows: minmax(100px, 135px);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  padding: 15px;
}

#one {
  /*grid-area: top;*/
}
#two {
  /*grid-area: bottomLeft;*/
}
#three {
  /*grid-area: bottomRight;*/
}